/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;  /* Apilamos los elementos verticalmente */
  justify-content: center;
  align-items: center;
  padding: 20px;  /* Espacio alrededor */
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre las cards */
  width: 800px; /* Ancho del contenedor */
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10px; /* Espaciado dentro de la card */
}

.card-container h2 {
  text-align: center;
}

.card p {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #0068a9;
}

.partidos-details {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los partidos */
}

.partido-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #0064a66e;
}

.partido-info {
  display: flex;
  justify-content: space-between;  /* Espacio entre los elementos */
  align-items: center;  /* Alineación vertical */
  width: 100%; /* Asegura que los elementos dentro de partido-info estén distribuidos por todo el contenedor */
  text-align: center;  /* Centra el texto dentro de cada span */
}

.partido-info span {
  font-size: 1.1em;
  font-weight: bold;
  min-width: 120px; /* Mínimo ancho para evitar que el texto cambie el tamaño de la estructura */
  white-space: nowrap; /* Evita el salto de línea */
}

.hora {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #0068a9;
  min-width: 120px; /* Mínimo ancho para mantener la estructura fija */
}

.carousel-section {
  margin-top: 40px;
  width: 100%; /* Ocupa todo el ancho disponible */
  display: flex;
  justify-content: center; /* Centra el carousel */
  align-items: center;
}

.card:hover {
  transform: scale(1.05); /* Efecto hover */
  transition: transform 0.3s ease;
}

.card:active {
  transform: scale(1); /* Vuelve al tamaño original al hacer clic */
}
