/* Home.css */
/* Contenedor principal del dashboard */
.dashboard-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los contenedores */
    flex-wrap: wrap; /* Asegura que los elementos se apilen si no hay suficiente espacio */
    margin: 20px; /* Margen global para todo el dashboard */
}

/* Contenedor izquierdo con los 2 elementos encima */
.dashboard-left {
    display: flex;
    flex-direction: column; /* Los elementos van uno encima del otro */
    width: 50%; /* Ajusta el tamaño del contenedor izquierdo */
    gap: 20px; /* Espacio entre los contenedores */
}

/* Contenedor derecho (Teams) que ocupa el resto */
.dashboard-right {
    width: 50%; /* El contenedor derecho ocupa el 48% del espacio */

}

/* Ajuste para el contenido de cada sección */
.dashboard-section {
    padding: 20px;
    border-radius: 8px;
}

/* Contenedor que debe ocupar toda la columna de la derecha en pantallas pequeñas */
.dashboard-section-list {
    background-color: #f0efef;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    /* Establecer una altura máxima para permitir el desplazamiento */
    max-height: 700px; /* Ajusta la altura máxima según lo que necesites */
    overflow-y: auto; /* Agrega un scrollbar vertical cuando el contenido sobrepase */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .dashboard-container {
        display: flex;
        flex-direction: column; /* Cambia a una columna en pantallas pequeñas */

    }

    .dashboard-left {
        width: 100%; /* En pantallas pequeñas, los contenedores ocupan el 100% */
    }

    .dashboard-right {
        width: 95%; /* En pantallas pequeñas, los contenedores ocupan el 100% */
    }


    /* Cuando el contenedor de la lista de equipos es el de la derecha */
    .dashboard-section-list {
        width: 100%; /* Asegura que ocupe el 100% en pantallas pequeñas */
    }
}

/*ajustes de contenedor, colores, etc.*/
.dashboard-card {
    background-color: #f0efef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

}

/*Titulo contenedor top scorer /home*/
.dashboard-card h2,
.dashboard-section-list h2 {
    color: #030303;
    margin-top: -5px;
}



.scorer-card {
    background-color: #cccccc; /* Fondo blanco para los contenedores */
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    color: #030303;
}

.scorer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.empty-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333; /* Color del texto */
}

/* Estilo específico para el contenedor del máximo goleador y la lista de equipos */
.top-scorer-container, .team-list-container {
    grid-column: span 2; /* Ocupa todo el ancho en pantallas más pequeñas */
}

/*TERMINA TOP SCORER*/


/* Añadir estilos para el contenedor del ícono */
.icon-container {
    display: inline-block;
    margin-left: 10px; /* Espacio entre el título y el ícono */
}

/* Añadir estilos para el ícono */
.home-icon {
    font-size: 50rem; /* Ajusta el tamaño del ícono según tus necesidades */
}


/* Home.css */




.scorer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.scorer-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    width: 97%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scorer-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.scorer-card-content {
    flex: 1;
}

.scorer-card-content h4 {
    margin: 0 0 4px 0;
    font-size: 16px; /* Reduce el tamaño de la fuente */
}

.scorer-card-content p {
    margin: 2px 0;
    font-size: 12px; /* Reduce el tamaño de la fuente */
}

.view-more-button {
    background-color: #284b70;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* El botón ocupa todo el ancho */
}

.view-more-button:hover {
    background-color: #b1833d;
}

/*CONTENEDOR RESULTADOS*/

.match-score {
    font-weight: bold;
    margin: 5px 0;
}

.team-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estructura del resultado*/
.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #cccccc;
    color: #030303;
    padding: 10px;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.team-card-content span {
    font-weight: bold;
    text-align: center;
    width: 100%; /* Aseguramos que los elementos se distribuyan bien */
}

/* TEAMS */
.team-card-header {
    display: flex;
    align-items: center; /* Centra verticalmente el logo y el texto */
    justify-content: center; /* Centrar horizontalmente */
    gap: 10px; /* Espacio entre el logo y el texto */
    padding: 6px;
    width: 100%;
    height: 48px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease; /* Suaviza el cambio de tamaño */
}

/* Imagen dentro del equipo */
.team-card-header img {
    width: 8vw; /* Usamos un tamaño relativo para que se ajuste según el tamaño de la pantalla */
    max-width: 30px; /* Límite máximo del tamaño de la imagen */
    object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
    transition: width 0.3s ease; /* Suaviza el cambio de tamaño */
}

/* Nombre del equipo */
.team-name {
    font-size: 1rem; /* Tamaño relativo para fuentes */
    font-weight: bold;
    text-align: center;
    transition: font-size 0.3s ease; /* Suaviza el cambio de tamaño de la fuente */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .team-card-header {
        flex-direction: column; /* Apilar el logo y el texto verticalmente */
        align-items: center; /* Centrar el contenido */
        gap: 5px; /* Reducir el espacio entre los elementos */
        width: 100%;
        height: 100px;
    }

    .team-card-header img {
        width: 20vw; /* La imagen será más grande en pantallas pequeñas */
        max-width: 40px; /* Ajuste de tamaño máximo */
    }

    .team-name {
        font-size: 1.2rem; /* Aumentar el tamaño de fuente en pantallas pequeñas */
    }
}





