/* Home.css */
/* Contenedor principal de la página con 2 columnas */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas por defecto */
    gap: 20px;
    padding: 20px;
}

/* Contenedor individual de cada sección */
.dashboard-section {
    width: 100%;
}

/* Contenedor que debe ocupar toda la columna de la derecha en pantallas pequeñas */
.dashboard-section-list {
    width: 100%;
    grid-column: span 1; /* En pantallas grandes ocupa solo una columna */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
    }
    
    /* Cuando el contenedor de la lista de equipos es el de la derecha */
    .dashboard-section-list {
        grid-column: span 1; /* En pantallas pequeñas, ocupa toda la columna */
    }
}

/*ajustes de contenedor, colores, etc.*/
.dashboard-card {
    background-color: #f0efef;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;

}

/*Titulo contenedor top scorer /home*/
.dashboard-card h2 {
    color: #030303;
    margin-top: -5px;
}



.scorer-card {
    background-color: #cccccc; /* Fondo blanco para los contenedores */
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    color: #030303;
}

.scorer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.empty-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333; /* Color del texto */
}

/* Estilo específico para el contenedor del máximo goleador y la lista de equipos */
.top-scorer-container, .team-list-container {
    grid-column: span 2; /* Ocupa todo el ancho en pantallas más pequeñas */
}

/*TERMINA TOP SCORER*/


/* Añadir estilos para el contenedor del ícono */
.icon-container {
    display: inline-block;
    margin-left: 10px; /* Espacio entre el título y el ícono */
}

/* Añadir estilos para el ícono */
.home-icon {
    font-size: 50rem; /* Ajusta el tamaño del ícono según tus necesidades */
}


/* Home.css */




.scorer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.scorer-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    width: 97%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scorer-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.scorer-card-content {
    flex: 1;
}

.scorer-card-content h4 {
    margin: 0 0 4px 0;
    font-size: 16px; /* Reduce el tamaño de la fuente */
}

.scorer-card-content p {
    margin: 2px 0;
    font-size: 12px; /* Reduce el tamaño de la fuente */
}

.view-more-button {
    background-color: #284b70;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* El botón ocupa todo el ancho */
}

.view-more-button:hover {
    background-color: #b1833d;
}

/*CONTENEDOR RESULTADOS*/

.match-score {
    font-weight: bold;
    margin: 5px 0;
}

.team-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estructura del resultado*/
.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #cccccc;
    color: #030303;
    padding: 10px;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.team-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.team-card-content span {
    font-weight: bold;
    text-align: center;
    width: 100%; /* Aseguramos que los elementos se distribuyan bien */
}






