/* General navbar styling */
.navbar {
    background-color: #3d788f;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar-logo {
    width: 50px;
    height: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #000000;
}

.navbar-user {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.user-icon {
    margin-right: 8px;
    font-size: 24px;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar-content {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Espacio entre logo y botón */
        width: 20%;
        height: 20%;
    }

    .navbar-toggle {
        display: block;
        margin-bottom: 10px; /* Espacio entre el botón y el usuario */
    }

    .navbar-user {
        flex-direction: column; /* Coloca el usuario en una columna */
        align-items: center; /* Centra horizontalmente el usuario */
        margin-bottom: 10px; /* Espacio entre el usuario y el menú */
    }

    .navbar-menu {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra horizontalmente los elementos */
        justify-content: center; /* Centra verticalmente si es necesario */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        width: 100%; /* Asegura que ocupe el ancho completo */
    }

    .navbar-menu.open {
        max-height: 300px; /* Ajusta según el contenido */
    }
}
