/* Navbar general */
.navbar {
    background-color: #ffffff;
    color: #0064a6;
}

.navbar-menu li .active {
    font-weight: bold;
    color: #0068a9;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar-logo {
    width: 75px;
    height: 65px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px; /* Aumentar espacio entre elementos */
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.navbar-menu li a {
    color: #0064a6;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #000000;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #0064a6;
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar-content {
        flex-direction: column; /* Cambiar disposición a columna */
        align-items: center;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        width: 100%; /* Asegura que ocupe el ancho completo */
    }

    .navbar-menu.open {
        max-height: 500px; /* Ajusta la altura máxima según la cantidad de enlaces */
    }

    .navbar-menu li {
        padding: 15px 0; /* Aumentar el espaciado entre los enlaces */
    }

    .navbar-toggle {
        display: block;
        margin-bottom: 10px;
    }
}
