
/* Estilos para el formulario */
/* Estilos básicos para el formulario de partidos */
.match-form-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0;
    max-width: 1150px;
    position: relative;
    margin-left: 280px;
    width: calc(100% - 300px); /* Ajusta el ancho para el margen del sidebar */
}

/* Contenedor de equipos */
.equipos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Sección de equipo */
.equipo-section {
    flex: 1;
    min-width: 300px; /* Asegura que las secciones se mantengan legibles en pantallas pequeñas */
    background-color: #e0f7fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tabla de equipo */
.equipo-table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
}

.equipo-table th, .equipo-table td {
    border: 1px solid #0077b6;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

.equipo-table th {
    background-color: #0077b6;
    color: #ffffff;
}

/* Contadores de goles y expulsiones */
.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #0077b6;
    background-color: #e0f7fa;
    color: #0077b6;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.counter-button:hover {
    background-color: #0077b6;
    color: #ffffff;
}

.counter-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Estilos para los resultados */
.resultados-container {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #0077b6;
}

/* Estilos para botones */
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f73;
}

/* Filas resaltadas */
.highlight-red {
    background-color: #f4acb2;
}

/* Expulsiones en amarillo */
.expulsiones-yellow {
    background-color: #fff9c4; /* Amarillo pálido para dos expulsiones */
}

/* Expulsiones en rojo */
.expulsiones-red {
    background-color: #f4acb2; /* Rojo pálido para tres expulsiones */
}

/* Entrada de búsqueda */
.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0077b6;
    border-radius: 4px;
}

/* Dropdown */
.dropdown-container {
    position: relative;
    width: 95%;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #ffffff;
    border: 1px solid #0077b6;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 4px;
    padding: 0;
    list-style: none;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #e0f7fa;
}



/* Matches List styles */
.matches-container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.matches-list {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

.match-item {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.match-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.team-name {
    font-weight: bold;
}

.match-score {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Resultado css */
.resultados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}

.resultado-section {
    text-align: center;
}

.marcador {
    display: flex;
    align-items: center;
}

.resultado-local, .resultado-visitante {
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
}

.separador {
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
}


/* sidebar icons */

/* Aplica estilo al contenedor del icono si necesitas más control */
.icon-container {
    margin-right: 13px; /* Añadir espacio entre el icono y el texto */
}

/* Estilo específico para el icono de 'Home' */
.home-icon {
    font-size: 15px; /* Cambia el tamaño del icono */

}
